/* Importing in Avenir Font */
@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir Next LT Pro Medium Condensed'), url('AvenirNextLTPro-MediumCn.woff') format('woff');
}

html {
	background-image: url("Background.png");
}

body {
	margin: 0px;
}

h3 {
	color: white;
	font-family: 'Avenir';
	margin: 0px;
	font-size: 12pt;
}

.required {
	display: none;
	width: 100%;
    font-size: 10pt;
    color: red;
    margin-bottom: 20px;
}

#holder {
	width: 100%;
	top: 0px;
    left: 0px;
} 

#top_bar {
	background-image: url("top_bar.jpg");
	background-size: 100%;
    height: 50px;
}

#pro_pic {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: cover;
	float: right;
	margin: 10px 100px 4px 0px;
}

#my_profile {
	display: inline-block;
	float: right;
	height: 30px;
	margin: 17px 10px 4px 0px;
}

#my_profile a {
	text-decoration: none;
	color: #005c99;
	font-family: 'Avenir';
	vertical-align: center;
	margin-top: 10px;
}

#image_bar {
	height: 400px;
	background-size: 100%;
	background-image: url("banner.jpg");
	background-repeat: no-repeat;
}

#bottom_bar {
	background-image: url("top_bar.jpg");
	background-size: 100%;
    height: 50px;
}

#bottom {
	width: 100%;
	margin-top: 15px;
}

#left {
	display: inline-block;
	float: left;
	width: 25%;
}

#main {
	display: inline-block;
	width: 55%;
}

#main_init {
	display: inline-block;
	width: 70%;
	margin-left: 40px;
}

#login_please {
	font-family: 'Avenir';
	color: #D0D0D0;
}

#login_please a {
	font-family: 'Avenir';
	color: #D0D0D0;
}

#right {
	display: inline-block;
	float: right;
	width: 20%;
}

#blurb {
	width: 100%;
	height: 100px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url("description.png");
}

.bar {
	margin-top: 15px;
    width: 100%;
    height: 2px;
    background-size: cover;
    background-image: url("bar.png");
}

#create {
	width: 30%;
	height: 80px;
	background-image: url("post.png");
	background-size: cover;
	margin: 5px 0px 10px 15px;
}

#spacer {
	width: 30%;
	height: 80px;
	margin: 5px 0px 30px 15px;
}

#subject {
	margin-top: 0px;
	font-family: 'Avenir';
	background-image: url("Danny_GreyBackgroundColor.jpg");
	height: 30px;
	font-size: 12pt;
	width: 100%;
	margin: 10px 50px 10px 50px;
}
#create_form {	
	width: 82%;
}

#create_element {
	font-family: 'Avenir';
	background-image: url("Danny_GreyBackgroundColor.jpg");
	font-size: 12pt;
	height: 150px;
	width: 100%;
	margin: 0px 50px 0px 50px;
}

#search_buttons {
	float: center;
	text-align: center;
}

#categories {
	float: center;
	text-align: center;
}

#cjobs {
	border-width: 3px;
    border-color: transparent;
    border-style: solid;
    background-size: cover;
    height: 40px;
    width: 107px;
    display: inline-block;
    background-position: -142px 0px;
    background-image: url("options.png");
}

#cstartups {
	border-width: 3px;
    border-color: transparent;
    border-style: solid;
    background-size: cover;
    height: 40px;
    width: 131px;
    display: inline-block;
    background-position: -254px 0px;
    background-image: url("options.png");
}

#cfunding {
	border-width: 3px;
    border-color: transparent;
    border-style: solid;
    background-size: cover;
    height: 40px;
    width: 137px;
    display: inline-block;
    background-position: -391px 0px;
    background-image: url("options.png");
}

#cevents {
	border-width: 3px;
    border-color: transparent;
    border-style: solid;
    background-size: cover;
    height: 40px;
    width: 113px;
    display: inline-block;
    background-position: -535px 0px;
    background-image: url("options.png");
}

#create_holder {
	display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #B0B0B0;
    margin: 0px 15px 15px 15px;
}

#search_buttons :hover {
	border-color: #909090  ;
}

h1 {
	text-align: center;
	font-family: 'Avenir';
	color: white;
}

label {
	font-family: "Avenir";
	margin-left: 10px;
	color: white;
}

#people {
	border-width: 3px;
    border-color: #909090;
    border-style: solid;
    background-size: cover;
    height: 40px;
    width: 137px;
    display: inline-block;
    background-position: 0px 0px;
    background-image: url("options.png");
}

#jobs {
	border-width: 3px;
    border-color: transparent;
    border-style: solid;
    background-size: cover;
    height: 40px;
    width: 107px;
    display: inline-block;
    background-position: -142px 0px;
    background-image: url("options.png");
}

#startups {
	border-width: 3px;
    border-color: transparent;
    border-style: solid;
    background-size: cover;
    height: 40px;
    width: 131px;
    display: inline-block;
    background-position: -254px 0px;
    background-image: url("options.png");
}

#funding {
	border-width: 3px;
    border-color: transparent;
    border-style: solid;
    background-size: cover;
    height: 40px;
    width: 137px;
    display: inline-block;
    background-position: -391px 0px;
    background-image: url("options.png");
}

#events {
	border-width: 3px;
    border-color: transparent;
    border-style: solid;
    background-size: cover;
    height: 40px;
    width: 113px;
    display: inline-block;
    background-position: -535px 0px;
    background-image: url("options.png");
}

#searchbar {
	text-align: center;
}

.psearchbar {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 24px;
	width: 150px;
	font-family: "Avenir";
	letter-spacing: 1px;
}

.advsearchbar {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 24px;
	width: 200px;
	font-family: "Avenir";
	letter-spacing: 1px;
}

.searchbar {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 24px;
	width: 300px;
	font-family: "Avenir";
	letter-spacing: 1px;
}

.button {
	height: 30px;
	font-family: "Avenir";
	letter-spacing: 1px;
}

#log_in {
	float: right;
    margin: 10px 10px 10px 10px;
}

#post_search {
	display: none;
}

form {
	margin: 10px 10px 10px 10px;
	display: inline-block;
}

#adv_people_search {
	display: none;
}

#people_search {
	display: block;
}

#adv_post_search{
	display: none;
}

#postcheckbox {
	display:  none;
}

.check {
	display: block;
}

#create_new_button {
	height: 78px;
    border: 0px;
    width: 62px;
    padding: 0px;
    background-color: transparent;
}

#results {
	margin: 20px 50px 20px 50px;
	text-align: center;
	height: 500px;
	overflow-y: scroll;
}

#results_list {
	text-align: center;
	padding-left: 0px;
}

.post {
	margin: 20px auto 20px auto;
    float: center;
    list-style-type: none;
    background-size: 100%;
    width: 75%;
    height: 345px;
    background-image: url("new_post_block.png");
}

.person {
	margin: 20px auto 20px auto;
    float: center;
    list-style-type: none;
    background-size: 100%;
    width: 75%;
    height: 123px;
    background-image: url("People_Post_Background.png");
}

.headline {
	display: block;
    text-align: left;
    margin: 5px 0px 0px 0px;
    font-family: 'Avenir';
    color: #333333;
    font-size: 14pt;
}

.thirdline {
	margin: 5px 0px 0px 0px;
    text-align: left;
    font-family: 'Avenir';
    color: #8c8c8c;
}
.person_holder {
	display: inline-block;
    width: 70%;
    height: 100px;
}

.name {
	color: #005c99;
    width: 100%;
    font-family: 'Avenir';
    display: block;
    text-align: left;
    font-size: 20pt;
    margin: 10px 0px 0px 0px;
}

.person_pic {
	height: 100px;
    width: 100px;
    display: inline-block;
    float: left;
    margin: 12px 14px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.datedisplay {
	color: #005c99;
	font-size: 10pt;
	display: inline-block;
}

.namelink {
	color: #005c99;
	font-family: 'Avenir';
	text-decoration: none;
}

.backlink {
	color: transparent;
	font-size: 22pt;
}
.post_pic {
	height: 40px;
    width: 40px;
    display: none;
    /*display: inline-block;*/
    float: left;
    margin: 12px 14px 0px;
}

.title {
	margin: 10px 10px 10px 10px;
    font-family: 'Avenir';
    text-decoration: underline;
    font-size: 22pt;
}

.textpost {
	margin: 15px 15px 15px 15px;
    font-family: 'Avenir';
    text-align: left;
    font-size: 12pt;
    color: #505050;
}

.post_name {
	display: inline-block;
    width: 83%;
    font-size: 11pt;
    text-align: left;
    margin-top: 21px;
    font-family: 'Avenir';
    color: #005c99;
}
