<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title> Warshay Innovation Network (WIN) </title>
    <link rel="stylesheet" type="text/css" href="homepage.css">
  </head>

  <body>
    <div id="holder">
    	<div id="top_bar"> 
    		<div id="pro_pic"> </div>
    		<div id="my_profile"> <a href="#"> Name </a> </div>
    	</div>
    	<div id="image_bar"> </div>
    	<div id="bottom_bar"> </div>
    	<div id="bottom">
	    	<div id="left"> 
	    		<div id="blurb"> </div>
	    		<div class="bar"></div>
	    	</div>
	    	<div id="main"> 
	    		<div id='search_buttons'>
	    			<div id="people"> </div>
	    			<div id="jobs"> </div>
	    			<div id="startups"> </div>
	    			<div id="funding"> </div>
	    			<div id="events"> </div>
	    		</div>
	    		<div id="searchbar">
	    			<form id="people_search">
            	        <input type="text" class="searchbar" placeholder="Enter Name..." name="peopletext" id="peopletext" >
       	                <input type="button" class="button" value="Search for People">
					</form>
					<form id="post_search">
            	        <input type="text" class="searchbar" placeholder="Enter Keyword..." name="posttext" id="posttext" >
            	        <input type="hidden" name="keyword" id="keyword" value="">
       	                <input type="button" class="button" value="Search for Post">
					</form>
	    		</div>
	    		<div id="results">
	    			<ul id="results_list">
	    				<li class="result"></li>
	    			</ul>
	    		</div>
	    	</div>
	    	<div id="right">
				<div id="create">
					<form>
       	                <input type="button" id="create_new_button" class="button" value="">
					</form>
				</div>
				<div class="bar"></div>
	    	</div>

    	</div>
    </div>

    
  </body>
</html>