<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title> Warshay Innovation Network (WIN) </title>
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
          api_key:   77ans69don4w9y
    </script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="homepage.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>

  <body>
    <div id="holder">
    	<div id="top_bar"> 
    		<div id="pro_pic"> </div>
    		<div id="my_profile"> </div>
    	</div>
    	<div id="image_bar"> </div>
    	<div id="bottom_bar"> </div>
    	<div id="bottom">
	    	<div id="left"> 
	    		<div id="blurb"> </div>
	    		<div class="bar"></div>
	    	</div>
	    	<div id="main"> 
	    		
	    		<div id='search_buttons'>
	    			<div id="people"> </div>
	    			<div id="jobs"> </div>
	    			<div id="startups"> </div>
	    			<div id="funding"> </div>
	    			<div id="events"> </div>
	    		</div>
	    		<div id="searchbar">
	    			<form id="people_search">
            	        <input type="text" class="psearchbar" placeholder="Enter First Name..." name="firstpeopletext" id="firstpeopletext" >
            	        <input type="text" class="psearchbar" placeholder="Enter Last Name..." name="lastpeopletext" id="lastpeopletext" >
       	                <input type="submit" class="button" value="Search for People">
					</form>
					<form id="adv_people_search">
            	        <input type="text" class="psearchbar" placeholder="Enter First Name..." name="advfirstpeopletext" id="advfirstpeopletext" >
            	        <input type="text" class="psearchbar" placeholder="Enter Last Name..." name="advlastpeopletext" id="advlastpeopletext" >
            	        <input type="text" class="advsearchbar" placeholder="Enter Location..." name="advlocation" id="advlocation" >
            	        <input type="text" class="advsearchbar" placeholder="Enter Radius of Search (in Miles)..." name="advradius" id="advradius" >
       	                <input type="submit" class="button" value="Search for People">
					</form>
					<label id="peoplecheckbox" class="check"><input type="checkbox" id="cboxpeople" value="advanced_search"> Advanced Search </label>

					<form id="post_search">
            	        <input type="text" class="searchbar" placeholder="Enter Keyword..." name="posttext" id="posttext" >
            	        <input type="hidden" name="ptopic" id="ptopic" value="">
       	                <input type="submit" class="button" value="Search for Keyword">
					</form>
					<form id="adv_post_search">
            	        <input type="text" class="psearchbar" placeholder="Enter Keyword..." name="advposttext" id="advposttext" >
            	        <input type="text" class="psearchbar" placeholder="Enter Author First Name..." name="advfirstposttext" id="advfirstposttext" >
            	        <input type="text" class="psearchbar" placeholder="Enter Author Last Name..." name="advlastposttext" id="advlastposttext" >
            	        <input type="hidden" name="aptopic" id="aptopic" value="">
       	                <input type="submit" class="button" value="Search for Post">
					</form>
					<label id="postcheckbox" class="check"><input type="checkbox" id="cboxpost" value="advanced_search"> Advanced Search </label>
	    		</div>
	    		<div id="results">
	    			<ul id="results_list">
	    				<li class="result"></li>
	    			</ul>
	    		</div>
	    	</div>
	    	<div id="right">
				<div id="create">
					<form>
       	                <input type="button" id="create_new_button" class="button" value="">
					</form>
				</div>
				<div class="bar"></div>
	    	</div>

    	</div>
    </div>

    
  </body>
</html>