<head>
    <meta charset="utf-8">
    <title>Home</title>
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   77ans69don4w9y
    </script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
   <script src="homepage.js"/></script>
</head>
<style>
    #login {
       padding-left: 46%;
        padding-top: 21%; 
    }
</style>
<body>
    <div id="login">
        <script type="in/Login"></script>
    </div>
</body>