<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title> Warshay Innovation Network (WIN) </title>
      <script type="text/javascript" src="//platform.linkedin.com/in.js">
          api_key:   77ans69don4w9y
    </script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="initialpage.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="holder">
      <div id="top_bar"> 
      <div id="log_in">
          <script type="in/Login"></script>
      </div>
    	</div>
    	<div id="image_bar"> </div>
    	<div id="bottom_bar"> </div>
    	<div id="bottom">
	    	<div id="left"> 
	    		<div id="blurb"> </div>
	    		<div class="bar"></div>
	    	</div>
	    	  <div id="main_init"> 
	          <h1 id="login_please"> Welcome to the Warshay Innovation Network. Please Sign in to Access the Site. </h1>
	        </div>
    	</div>
    </div>
  </body>
</html>
