<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title> Warshay Innovation Network (WIN) </title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="../javascript/welcomepage.js"> </script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>

  <body>
    <div id="holder">
      <div id="top_bar"> 
    	</div>
    	<div id="image_bar"> </div>
    	<div id="bottom_bar"> </div>
    	<div id="bottom">
	    	<div id="left"> 
	    		<div id="blurb"> </div>
	    		<div class="bar"></div>
	    	</div>
	    	  <div id="main_init"> 
	          <h1 id="login_please"> Unfortunately, you do not currently have permission to access the site. Please contact <a href="http://dannywarshay.com/"> Danny Warshay </a> for more information. </h1>
	        </div>
    	</div>
    </div>
  </body>
</html>