<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title> Warshay Innovation Network (WIN) </title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="../javascript/welcomepage.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>

  <body>
    <div id="holder">
      <div id="top_bar"> 
        <form id="loginform">
          <input type="submit" id="log_in" class="button" value="Sign In">
        </form>
    	</div>
    	<div id="image_bar"> </div>
    	<div id="bottom_bar"> </div>
    	<div id="bottom">
	    	<div id="left"> 
	    		<div id="blurb"> </div>
	    		<div class="bar"></div>
	    	</div>
	    	  <div id="main_init"> 
	          <h1 id="login_please"> Welcome to the Warshay Innovation Network. Please Sign in to Access the Site. </h1>
	        </div>
    	</div>
    </div>
  </body>
</html>
