<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title> Warshay Innovation Network (WIN) </title>
    <link rel="stylesheet" type="text/css" href="homepage.css">
  </head>

  <body>
    <div id="holder">
      <div id="top_bar"> 
    		<div id="pro_pic"> </div>
    		<div id="my_profile"> <a href="#"> Name </a> </div>
    	</div>
    	<div id="image_bar"> </div>
    	<div id="bottom_bar"> </div>
    	<div id="bottom">
	    	<div id="left"> 
	    		<div id="blurb"> </div>
	    		<div class="bar"></div>
	    	</div>
	    	<div id="main"> 
	    		<h2> Welcome to the Warshay Innovation Network. Please Log in to View Content. </h2>
	    	</div>
    	</div>
    </div>
  </body>
</html>
